<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Forum Project</title>
  <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id='bodybg'></div>

  <div id='bodyWrapper'>
    {{> (getBanner)}}

    <div id="post_div">

      <div id='monhun' class='topic'>

        <b id="topicTitle" href='/monhun'>{{topic}}</b>

        {{#each posts}}
          {{> threadPostTemp}}
        {{/each}}

      </div>

      <b id="makePostButton"><a id="makepost" href='/newPost'>Create New Post</a></b>

    </div>

  </div>
  <p style="display: none;" id="loginCheck">{{setLoginCheck}}</p>
  <script>
      var loginCheck = document.getElementById("loginCheck").innerHTML;
      if (loginCheck == 1) {
              document.getElementById("makePostButton").style="display: block;";
      }
  </script>
</body>

</html>
