<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/style.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>

        <div id='bodyWrapper'>

            {{> (getBanner)}}


            <div id='discussSelect'>
                <div id='monhun' class='topic'>
                    <b><a id="topicTitle" href='/postThread'>Monster Hunter</a></b>
                    {{> topicListTemp}}
                    {{#each thread}}
                        {{> threadLinkTemp}}
                    {{/each}}
                </div>
                <input type=button value = "Create a New thread" onclick="window.location.href='/postThread'"/>

            </div>


            {{> popTopic}}
            
            <p hidden id="dupeCheck">{{setBrowserFlag}}</p>
            
        </div>
        <script type='text/javascript'>
            var browser_dupe = document.getElementById("dupeCheck").innerHTML;
            if (browser_dupe == 1) {
                alert("New Account Created!")
            }
            
        </script>
    </body>
</html>
