<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/style.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodyWrapper'>
            {{> topBanner}}

            <div id='discussSelect'>
                <div id='monhun' class='topic'>
                    <div class='topicTitle'>
                        <b>Monster Hunter</b>
                    </div>
                    
                    {{> topicListTemp}}
                    
                    {{monhun_post}}
                </div>
                <div id='community' class='topic'>
                    <div class='topicTitle'>
                        <b>Community</b>
                    </div>
                    
                    {{> topicListTemp}}
                    
                    <p id="test_paragraph"></p>
                </div>
            </div>

            {{> popTopic}}
            
        </div>

        <script src='js/app.js'></script>
    </body>
</html>
