<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/style.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>

        <div id='bodyWrapper'>

            {{> topBanner}}


            <div id='discussSelect'>
                <div id='monhun' class='topic'>
                    <b><a id="topicTitle" href='/postThread'>Monster Hunter</a></b>
                    {{> topicListTemp}}
                    {{#each thread}}
                        {{> threadLinkTemp}}
                    {{/each}}
                </div>
                <b><a id="makethread" href='/postThread'>Create New Thread</a></b>
            </div>


            {{> popTopic}}

        </div>
        <script src='js/app.js'></script>
    </body>
</html>
