<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/style.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>

        <div id='bodyWrapper'>
            
            {{> topBanner}}


            <div id='discussSelect'>
                <div id='monhun' class='topic'>
                    <div class='topicTitle'>
                        <b onclick="window.location='/monhun';">Monster Hunter</b>
                    </div>
                    {{> topicListTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                    {{> threadLinkTemp}}
                </div>
                <button id="makethread">Create New Thread</button>
            </div>


            {{> popTopic}}
                        
        </div>
        <script type="text/javascript">
            document.getElementById("makethread").onclick = function () {
                location.href = "/postThread";
            };
        </script>
        <script src='js/app.js'></script>
    </body>
</html>
