<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>

        <div id='bodyWrapper'>
            {{> topBanner}}

            <div id='discussSelect'>
               <div id='monhun' class='topic'>
                   
                   <div class='topicTitle'>
                       <b>Monster Hunter</b>
                   </div>
                   {{> topicListTemp}}
                   
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}
                   {{> threadLinkTemp}}

                </div>
            </div>

            {{> popTopic}}
            
        </div>

        <script src='js/app.js'></script>
    </body>
</html>
