<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>
        
        <div id='bodyWrapper'>
            {{> topBanner}}

            <div id='discussSelect'>
               <div id='monhun' class='topic'>
                   
                   <div class='topicTitle'>
                       <b>Post New Thread</b>
                   </div>
                   
                   <form class="textContainer" action='/postResult' method='POST'>
                       
                       <label>Topic:</label>
                       <input class="Title" id='topTitle' name='topTitle' type="text">
                       <br>
                       
                       <br>
                       <label>Content:</label>
                       <textarea class="Text" id='topPost' name='topContent'></textarea>
                       
                       <br>
                       <input type="submit">
                   </form>
                   
                   
                </div>
            </div>
            
        </div>
    </body>
</html>
