<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>
        
        <div id='bodyWrapper'>
            {{> topBanner}}

            <div id='discussSelect'>
               <div id='monhun' class='topic'>
                   
                   <div class='topicTitle'>
                       <b>Post New Thread</b>
                   </div>
                   
                   <form class="textContainer" action="/home">
                       Topic: <input class="Title" type="text">
                       <br>
                       
                       <br>
                       
                       Content: <textarea class="Text" rows="4" cols="50" name="comment" form="usrform"></textarea>
                       
                       <br>
                       <input type="submit">
                   </form>
                   
                   
                </div>
            </div>
            
        </div>

        <script src='js/app.js'></script>
    </body>
</html>
