<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>

        <div id='bodyWrapper'>
            {{> (getBanner)}}

            <div id='discussSelect'>
               <div id='monhun' class='topic'>

                   <div class='topicTitle'>
                       <b>Create New Thread</b>
                   </div>

                   <form class="textContainer" action='/postResult' method='POST'>

                       <label>Topic:</label>
                       <input class="Title" id='topTitle' required="required" name='topTitle' type="text">
                       <br>

                       <br>
                       <label>Content:</label>
                       <textarea class="Text" id='topPost' required="required" name='topContent'></textarea>

                       <br>
                       <input id="thread_submit" type="submit">
                   </form>
                </div>
            </div>

        </div>

        <script src='js/app.js'></script>

    </body>
</html>
