<!Doctype html>
<html>
    <head>
        <title>Forum Project</title>
        <link href='css/threadSelectStyle.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='bodybg'></div>

        <div id='bodyWrapper'>
            {{> topBanner}}

            <div id='discussSelect'>
               <div id='monhun' class='topic'>

                   <div class='topicTitle'>
                       <b>New User Registration</b>
                   </div>

                   <form class="regContainer" action='/postReg' method='POST'>

                       <label>Username:</label>
                       <input id='new_user' name='new_user' type="text">
                       <br>

                       <br>
                       <label>Password:</label>
                       <input id='new_pass' name='new_pass' type="password" onchange="get_var()">
                       <br>

                       <br>
                       <label>Confirm Password:</label>
                       <input id='confirm_pass' name='confirm_pass' type="password" onchange="get_var()">
                       <br>

                       <br>
                       <input id="gogo" type="submit">
                   </form>

                </div>
            </div>

        </div>

        <script src='js/app.js'></script>
        <script>
            var new_pass = document.getElementById("new_pass").value;
            var confirm_pass = document.getElementById("confirm_pass").value;

            document.getElementById("gogo").addEventListener("click", function(){
            if (new_pass === confirm_pass) {
                alert("New account created!");
            } else {
                alert("Confirmation of password does not match!");
              }
            });
        </script>

    </body>
</html>
