/* body wrapper */
#bodyWrapper {
      top: 0; left: 0;
      position: static;
    width: 98.2vw;
}


/* credentials */
#credentials {
      top: 0; left:0;
      height: 5vh;   width: 100%;
    margin: auto;
    position: absolute;
    z-index: 9999;
}

#welcome {
        top: 0%; bottom: 0%;
        left: 2%;
        height: 50%; width: 30%;
    display: inline-block;
    position: absolute;
    margin: auto;
    color: white;
    font-size: 100%;
}

#loginInput {
        top: 0%;
        right: 1%;
        height: 48%; width: 20%;
    display: inline-block;
    position: absolute;
    margin: auto;
    font-size: 100%;
}
#loginCheck {
        bottom: 0%;
        right: 2%;
        height: 48%; width: 19%;
    display: inline-block;
    position: absolute;
    margin: auto;
    font-size: 105%;
}
.credField {
    margin: 1%;
    display: inline-block;
    width: 44%; height: 60%;
    font-size: 100%;
}
#remember {
    width: 4%; height: 50%;
}
#loginBut {
        right: 1%;
    position: absolute;
    font-size: 90%;

}

/*TODO: adjust images to fit different screen sizes*/
/* banner */
#banner {
    left: 0; top: 0;
    height: 20vh;   width: 100%;
    background-image: url("/img/banner1.jpg");
    background-position: top center;
    background-size: cover;
    display: inline-block;
    position: absolute;
}

#logo {
  height: 90%;
  width: 14%;
  background-image: url("/img/Monster_Hunter_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 33%;
  top: 5%;
}

#logo:hover {
  cursor: pointer;
}

/*body background*/
/*TODO: make bg static on the back while page scrolls*/
#bodybg {
    left: 0; top: 0;
    height: 125vh;
    width: 99vw;
    background-image: url('/img/bodybg4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}


/* search bar */
#searchBar {
        left: 0; top: 20vh;
        height: 5vh;   width: 100%;
    background-color: lightgrey;
    display: inline-block;
    position: absolute;
}


#searchMenu {
        left: 1%;
        height: 100%; width: 12%;
    position: absolute;
}

#recent {
        left: 5%;
    position: absolute;
}

#forum_home:link, #forum_home:visited {
        line-height: 175%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 125%;
}

#forum_home:hover, #forum_home:active {
  background-color: slategrey;
  font-size: 125%;
}

#searchBox {
        right: 1%;
        height: 100%; width: 30%;
    position: absolute;
}
#searchType {
        top: 0; bottom: 0;
        right: 10%;
        height: 65%;
    position: absolute;
    margin: auto
}


/* hot topics */
/* #hotTopic {
        right: 1%; top: 35vh;
        width: 15%; height: 60vh;
    position: absolute;
    margin: auto;
    background-color: aqua;
}
#hotTopicTitle {
        top: 1%;
        left: 0; right: 0;
    position: absolute;
    margin: auto;
    font-size: 200%;
} */


/* forum type selections */
#discussSelect {
        left: 17.5%; top: 27vh;
        width: 65%; height: auto;
    position: absolute;
    margin: auto;
    background-color: aliceblue;
}
#monhun {
  padding: 1%;
  margin:1%;
}
#topicTitle:link, #topicTitle:visited {
    color: green;
    text-decoration: none;
    font-size: 150%;
}
#topicTitle:hover, #topicTitle:active {
    text-decoration: underline;
    font-size: 150%;
}
a.threadTitle:link {
    color: white;
    text-decoration: none;
}
a.threadTitle:visited {
  color: silver;
  text-decoration: none;
}
a.threadTitle:hover, a.threadTitle:active {
  color: white;
    text-decoration: underline;
    cursor: pointer;
}
.topic {
        width: 96%; height: 93%;
    border:1px solid black;
    margin: 2%;
}
.topicBanner {
        width: 99.7%; height: 2%;
    margin: 0.2%;
    background-color: dimgrey;
    color: white;
    margin: 0.1%;
    display: inline-block;
}
.topicContainer {
        width: 75%;
        padding-left: 0.5%;
    background-color: black;
    display: inline-block;
}
.statsContainer {
        width: 10%;
    background-color: white;
    display: inline-block;
    color: black
}
.latestContainer {
    width: 13.6%;
    background-color: white;
    display: inline-block;
    color: black
}

/* Topics Styling */
.Thread {
        height: auto; width: 99.7%;
    margin: 0.2%;
    background-color: darkslategrey;
    color: white;
    display: inline-block;
}
.threadContainer {
        width: 75%;
        padding-left: 0.5%;
    color:white;
    display: inline-block;
}
.countContainer {
        width: 10%;
    display: inline-block;
    color: white;
}
.recentContainer {
        width: 13.6%;
    display: inline-block;
    color: white;
}
.threadInfo {
    display: block;
}
.statsInfo {
    display: block;
}
.Text {
    width: 98.7%; height: 50%;
}
.recentInfo {
    display: block;
}

/* Create post button */
#makethread {
  margin: 1.5%;
}








































=======
>>>>>>> 22b07270992b98f821f26e5c431d37146d73b8ba
