<form id='credentials' action="/checkCred" method="POST">
    <div id='welcome'>
        <span>
            Hello and welcome to our forum.
            <strong><i>Is this your first visit?</i></strong>
        </span>
        <input type=button value = "Register" onclick="window.location.href='/register'"/>
    </div>
    <div id='loginInput'>
        <input id='username' type='text' class='credField' placeholder='Username' name="user"/>
        <input id='password' type='password' class='credField' placeholder='Password' name="pass" />
    </div>
    <div id='loginCheck'>
        <!---<input id='remember' type='checkbox' name="remember" value='True'>Remember Me--->
        <button id='loginBut' type="submit">Log In</button>
    </div>
</form>

<div id='banner'>
  <div id="logo" onclick="window.location='/home';"></div>
</div>

<div id='searchBar'>
    <div id='searchMenu'>
          <b><a id="forum_home" href='/home'>Home</a></b>
    </div>
</div>
