<div id='credentials'>
    <div id='welcome'>
        <span>
            Hello and welcome to our forum.
            <strong><i>Is this your first visit?</i></strong>
        </span>
        <button id='register'>Register</button>
    </div>
    <div id='loginInput'>
        <input id='username' type='text' class='credField' placeholder='Username' />
        <input id='password' type='password' class='credField' placeholder='Password' />
    </div>
    <div id='loginCheck'>
        <input id='remember' type='checkbox' value=True>Remember Me
        <button id='loginBut'>Log In</button>
    </div>
</div>

<div id='banner'></div>

<div id='searchBar'>
    <div id='searchMenu'>
        <div id='recent' class='forumSelect'>
            <p><b>What's New</b></p>
        </div>
        <div id='forum' class='forumSelect'>
            <p><b>Forum</b></p>
        </div>
    </div>

    <div id='searchBox'>
        <input id='searchType' type='text' placeholder='Search' />
        <! later on we want a little magnifying glass icon so users can click on to search>
    </div>
</div>