<div class='topicBanner'>
    <div class='topicContainer'>
        <span>{{title}}</span>
    </div>
    <div class='statsContainer'>{{stats}}</div>
    <div class='latestContainer'>{{recent}}</div>
</div>