<div class='Thread'>
   <div class='threadContainer'>
        <span id='threadName' class='threadInfo'><b><a class="threadTitle">TEST TOPIC</a></b></span>
        <span id='Author' class='threadInfo'>Started By: Stephen, Today 23:14</span>
   </div>

   <div class='countContainer'>
       <span id='replyCount' class='statsInfo'>Replies: 999</span>
       <span id='viewCount' class='statsInfo'>Views: 999</span>
   </div>

   <div class='recentContainer'>
       <span id='recentAuthor' class='recentInfo'>Stephen</span>
       <span id='recentTime' class='recentInfo'>Today 23:14</span>
   </div>

</div>
